@import "tailwindcss";
.main{
  background-image: url('/pomodoro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@theme{
  --color-pomodorored: #e87272;
  --color-pomodorored2: #cd2626;
}
body{
  @apply bg-pomodorored
}
.pomodoro button{
  @apply mx-5  p-2 rounded-3xl bg-white
}

.top-section{
  @apply mb-10
}

.bottom-section{
  @apply mt-10 bg-pomodorored mx-auto w-60 py-3 rounded-3xl
}

.pomodoro {
  @apply border border-solid rounded-lg m-10 p-6 py-18 bg-pomodorored2 min-w-3xl mx-auto text-center;
}

.time-display{
    @apply text-8xl p-5 
}